<div class="cutscene-the-choice" [class.fading]="containerFading">
  <div class="d-flex flex-row gap-3">
    <div class="frame" [style.animationDelay]="animationDelay(0)" [style.animationDuration]="animationDuration()">
      <img [src]="images()[0]"/>
    </div>
    <div class="frame" [style.animationDelay]="animationDelay(1)" [style.animationDuration]="animationDuration()">
      <img [src]="images()[1]"/>
    </div>
  </div>
  <div class="d-flex flex-row gap-3">
    <div class="frame" [style.animationDelay]="animationDelay(2)" [style.animationDuration]="animationDuration()">
      <img [src]="images()[2]"/>
    </div>
  </div>
</div>
