:host{display:block}

.cutscene-the-choice{
  
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.0);
  overflow:hidden;
  padding:2rem;
  transition: opacity 900ms ease-in-out;
}

.cutscene-the-choice.fading{
  opacity:0;
  pointer-events:none;
}

.frame {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  opacity:0;
  animation-name: fadeInStay;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  @media screen and (min-width:1024px) {
    animation-name: slideInStay;
  }
}

.frame img {
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width:768px) {
        max-width: 500px;
        max-height: 500px;
      }
    @media screen and (min-width:1024px) {
      position: relative;
      transform: translate(0,0);
      top:unset;
      left:unset;
      max-width: 400px;
      max-height: 400px;
    }
}

.cutscene-row {
  display:block;
  @media screen and (min-width:1024px) {
    display: flex;
    flex-flow: row;
  }
}


@keyframes slideInStay{
  0% {
    opacity: 0;
    transform: translateX(-12vw) translateZ(0);
  }
  40% {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
}


@keyframes fadeInStay{
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
