<div class="cutscene-opening" [class.fading]="containerFading">
  <div class="cutscene-row">
    <div class="frame" [style.animationDelay]="animationDelay(0)" [style.animationDuration]="animationDuration()">
      <img loading="lazy" [src]="images()[0]"/>
    </div>
    <div class="frame" [style.animationDelay]="animationDelay(1)" [style.animationDuration]="animationDuration()">
      <img loading="lazy" [src]="images()[1]"/>
    </div>
  </div>
  <div class="cutscene-row">
    <div class="frame" [style.animationDelay]="animationDelay(2)" [style.animationDuration]="animationDuration()">
      <img loading="lazy" [src]="images()[2]"/>
    </div>
    <div class="frame" [style.animationDelay]="animationDelay(3)" [style.animationDuration]="animationDuration()">
      <img loading="lazy" [src]="images()[3]"/>
    </div>
  </div>
 
</div>

