name: Docker Image CI

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: 'tag'
        default: ''
        required: true
        type: 'string'


jobs:
  prepare_image_tags:
    name: Prepare image tags
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tagGen.outputs.tag }}
    steps:
      - name: Generate Tag
        id: tagGen
        run: |
         if [ "${{ github.event_name }}" = "release" ]; then
            echo "tag=Release_${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT
          else
            echo "tag=BuildTest_$${{ inputs.version }}" >> $GITHUB_OUTPUT
          fi
      - name: Output Tag
        run: |
          echo "output: ${{ steps.tagGen.outputs.tag }}
  push_to_registry:
    if: false
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
        
      - name: Check out the repo
        if: false
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        if: false
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image
        if: false
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: krzysztofgornowicz/ggj2026:BuildTest
